<div class="img_login">
    <!-- 背景画像のレイアウト  -->
    <%= image_tag 'wallpaper.jpg', :width=>'1136', :height=>'420' %>
    <div class="opacity_box">
        <!-- 透明box2つのレイアウト  -->
        <div class="opacity_box_left">
            <!-- 透明box左のレイアウト  -->
            <div class="opacity_box_left_in">
                <!-- 透明box左のテキストレイアウト  -->
            <h2>ログインの方はこちら</h2>

                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                <%= f.email_field :email, autofocus: true, :placeholder => 'メールアドレスまたはユーザー名' %>
                </div>

                <div class="field">
                <%= f.password_field :password, autocomplete: "off", :placeholder => 'パスワード(半角6文字以上)' %>
                </div>

                <% if devise_mapping.rememberable? -%>
                <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :ログインを保持する %>
                </div>
                <% end -%>


                <div class="actions">
                <%= f.submit "ログインする" %>
                </div>

                <div class="col-xs-6"> 
                <a href="/users/password/new">
                >>パスワードを忘れましたか?</a>
                </div>
                <% end %>
            </div>
        </div>

        <div class="opacity_box_right">
            <!-- 透明box右のレイアウト  -->
            <div class="opacity_box_right_in">
                <!-- 透明box右のテキストレイアウト  -->
            <h2>探していたサービスに出会える</h2>
            <p>Diceは「あなたの欲しいサービスが見つかる」新しい体験を提供するサービスです。ハッピーなライフスタイルを送るサポートをします。 </p>
            </div>
            <div class="sign_up_btn">
            <a href="/users/sign_up">今すぐ会員登録</a>
            </div>
            <div class="sns_btn">
                <div class="facebook_btn">
                <%= image_tag 'Facebook_btn_flat_design2.jpg', :width=>'144', :height=>'40' %>
                </div>
                <div class="twitter_btn">
                <%= image_tag 'Twitter_flat_design1.jpg', :width=>'144', :height=>'40' %>
                </div>
            </div>
        </div>
    </div>
</div>



